
.header-wrapper {
    display: flex;
    height: 95px;
    width: 1020px;
    background-color: #323645;
    justify-content: space-between;
}

.header__logo {
    margin: 31px 0 0 39px;
}

.star {
    color: #ef6c64;
}

.header__logo h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    text-align: left;
    letter-spacing: -0.015em;
}

.navigation {
    width: 371px;
    margin: 41px 40px 0 0;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
}

ul li:not(:last-child)::after {
    content: "·";
    padding-left: 12px;
    color: #494e62;
    font-weight: 700;
}

ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.colored {
    color: #ef6c64 ;
}

.phones-wrapper {
    position: relative;
    height: 600px;
    width: 1020px;
    background-color: #ef6c64;
}

.base1, .shadow1, .screen1 {
    position: absolute;
    left: 112px;
    top: 53px;
}

.base1 {
    z-index: 1;
}

.screen1 {
    border: 3px solid #c6c6c6;
    z-index: 2;
    left: 123px;
    top: 115px;
}

.screen1:hover {
    border: 3px solid #f2f2f2;
}


.base2, .shadow2, .screen2 {
    position: absolute;
    left: 425px;
    top: 174px;
}

.base2 {
    z-index: 2;
}

.shadow2 {
    transform: rotateY(180deg);
    z-index: 1;
}

.screen2 {
    z-index: 3;
    left: 482px;
    top: 185px ;
    border: 3px solid #c6c6c6;
}

.screen2:hover {
    border: 3px solid #f2f2f2;
}

.chev-left {
    position: absolute;
    left: 42px;
    top: 281px;
}

.chev-right {
    position: absolute;
    right: 40px;
    top: 281px;
}

.chev-left, .chev-right {
    cursor: pointer;
}


.services-wrapper {
    height: 500px;
    width: 1020px;
    background-color: #f1f1f1;
}

.service-top h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #666d89;
    margin-bottom: 30px;
    line-height: 18px;
}

.service-top p {
    width: 940px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #666d89;
    line-height: 29px;
    text-align: left;
}

.service-3-layout {
    display: flex;
}


.block {
    display: flex;
    font-family: 'Lato', sans-serif;
    color: #666d89;
    width: 320px ;
}

.block h3 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 8px;
}

.block p {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.right {
    margin-left: 20px;
}

.service-top {
    margin: 67px 40px 0 40px;
}

.service-bottom {
    margin: 46px 0 0 40px;
}

.service-bottom > .service-3-layout {
    margin: 0 0 25px 0;
}
